[Unit]
Description=Surveillance memory
# After=network-online.target

[Service]
ExecStart=sh /opt/memlog.sh
# ExecStop=/bin/kill `cat /run/memlog.pid 2> /dev/null` 2> /dev/null || true
# ExecReload=/var/myapp/bin/reload.sh
Restart=no
Type=simple
PIDFile=/run/memlog.pid

[Install]
WantedBy=multi-user.target
